.accountpage{
    background: linear-gradient(
      106.37deg,
      #b2e7db 29.63% ,
      #6fc7a7 51.55%,
      #0fbaac 90.85%
      
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
    .accountpageglass{
        display: grid;
        height: 97%;
        width: 97%;
        border-radius: 2rem;
        background-color: rgba( 255, 255, 255, 0.4 );
        overflow: hidden;
        grid-template-columns: 11rem auto 20rem;
        justify-items: center;
      
       
      .userprofile{
        background-color: white;
        height: 60vh;
        width: 125vh;
        margin-top: 13%;
        margin-left: 18%;
       
        
       
        img{
          padding: 20px;
          height: 360px;
          margin-left: 3rem;
          margin-top: 2rem;
          }

          .close-icon{
            margin-top: 0.3rem;
            margin-left: 40rem;
          }
        
          //accountprofile
        .profilehead{
          padding-top: 2.1rem;
          padding-left: 120px;
          
          h5{
            padding-top: 20px;
    
          }
          li{
            color: #0fbaac;
          }

          
          .btn-edit{
            padding-top: 5px;
            border-color: transparent;
            border-radius: 10px;
            background-color: #0fbaac;
            color: white;
            width: 100%;
          }
          .btn-ok{
            padding-top: 5px;
            border-color: transparent;
            border-radius: 10px;
            background-color: #0fbaac;
            color: white;
            width: 100%;
          }
        }

        //editprofilepage
        .editprofilehead{
          padding-top: 0.4rem;
          padding-left: 120px;
          
          h5{
            padding-top: 20px;
    
          }
          li{
            color: #0fbaac;
          }

          .profileinfo{
            label{
              padding-bottom: 15px;
            }
          }
          .btn-edit{
            padding-top: 5px;
            border-color: transparent;
            border-radius: 10px;
            background-color: #0fbaac;
            color: white;
            width: 100%;
          }
          .btn-ok{
            padding-top: 5px;
            border-color: transparent;
            border-radius: 10px;
            background-color: #0fbaac;
            color: white;
            width: 100%;
          }
        }

        .imginput{
          padding-left: 70px;
        }

        }
        





      }
    
     
  }
  
