.rightside{
    display: flex;
    flex-direction: column;
    /* padding-top: 1rem; */
    width: 100%;

    
    h3{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 28px;
        }
    .userupdate{
        margin-top: 20px;
        padding: 20px;
        
        
    }
    .customerreview{
        width: 90%;
    }

}

