.piechart{
    align-items: center;
   background-color: white;
   padding: 20px;
   margin-right:20px;
   border-radius: 1rem;
   box-sizing: border-box;
   height:90%; 
//    width: 100%;
   display: flex;
   justify-content:center;
   flex: 1;
}
.title{
    margin-top: 2rem;
    font-weight: 530;
    margin-bottom: 2rem;
}
